body{
    background-color: black;
}
.heart{
    position: relative;
    margin:20px;
    width: 200px;
    height: 170px;
}
.heart:before,
 .heart:after {
    position: absolute;
    content: "";
    width : 100px;
   top : 5px;
    height: 160px;
    background: red;
    border-radius: 50px 50px 0 0;
}
.heart:before{
    transform: rotate(-45deg);
    left:100px;
transform-origin: 0 100%;
}
.heart:after{
    transform: rotate(45deg);
    left: 0;
    transform-origin: 100% 100%;

}
